<!DOCTYPE html>
<html lang="en">
<head>
    <title>Authors Haven account verification</title>
    <meta name="description" content="Our first page">
    <meta name="keywords" content="html tutorial template">
</head>


<body>
    <div id="div-page" style="border: 2px solid #86C232;border-radius: 25px;width: 30em;padding: 25px;margin: 5em;text-align: justify; border-width: thick">

        <h1 style="line-height: 35px;text-align: center; color: #86C232;">
            Authors Haven
        </h1>
        <h1 style="line-height: 35px;text-align: center;">
            Hello <span id="username" style="color: #23bebe;">{{username}}</span>
        </h1>

        <div id="div-content" style="line-height: 26px;">
            <p style="text-align: center;">Your requested for password reset!</p>
            <p style="text-align: center;">Please reset your password by clicking the button below</p>
            <div style="margin-top: 7%;">
                <a id="confirm-link" href="{{link}}" style="background-color:
                 #23bebe; color:#fff;padding: 0.4em;font-size: 2em;text-decoration: none;margin-left: 19%;">Reset Password</a>
            </div>
            <br>
            <p style="text-align: center;">Kindly note that the link expires in exactly one day as from {{time}}</p>

        </div>
    </div>


</body>

</html>